
<footer>
     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
          <div class="container">
                   <div class="row">
<div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                 <h4> &copy; 2022 - Football Store</h4>
                 <p class="text-justify">
                     Todas as camisolas de clubes e seleções num único local!
                 </p>
             </div>

             <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                 <h4>Tem alguma dúvida ?</h4>
                 <ul class="list-unstyled">
                     <li class="py-1">Calle San German, Madrid</li>
                     <li class="py-1"> 915812801</li>
                     <li class="py-1"> <a href="joaom.fern@gmail.com" style="color: yellow">joaom.fern@gmail.com</a></li>
                 </ul>
             </div>
              </div>
              </div>
     </nav>
</footer>